.idea/
target/
*.iml
.settings/
.project
.classpath
.externalToolBuilders
searchCasperjs.xml
carewebapp/src/main/webapp/casperjs
atlassian-ide-plugin.xml
dev-docs/
carewebapp/src/main/webapp/atlassian-ide-plugin.xml
carewebapp/src/main/webapp/app/img
carewebapp/src/main/webapp/app/theme
carewebapp/src/main/webapp/test/img
carewebapp/src/main/webapp/test/theme
carewebapp/src/main/webapp/img
carewebapp/src/main/webapp/theme/default/img
carewebapp/src/main/webapp/theme
