<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui-1.10.0.custom.css" rel="stylesheet">
</head>

<body>

<div id="main-region" class="container">
</div>

<script type="text/template" id="list-layout">
    <div id="list-layout-region"></div>
</script>

<script type="text/template" id="station-list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="station-list-item">
    <td><%= id %></td>
    <td><%= name %></td>
    <td><%= code %></td>
    <td><%= lat %></td>
    <td><%= lon %></td>
    <td><a class="btn" href="#view/<%= code %>">View</a></td>
</script>


<script type="text/template" id="train-list">
    <thead>
    <tr>
        <th>Direction</th>
        <th>Due in</th>
        <th>Expected Arrival</th>
        <th>Last Location</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Status</th>
        <th>Late</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</script>

<script type="text/template" id="train-list-item">
    <td><%= direction %></td>
    <td><%= duein %></td>
    <td><%= exparrival %></td>
    <td><%= lastlocation %></td>
    <td><%= origin %></td>
    <td><%= destination %></td>
    <td><%= status %></td>
    <td><%= late %></td>
</script>

<script src="./assets/js/vendor/jquery.js"></script>
<script src="./assets/js/vendor/jquery-ui-1.10.3.js"></script>
<script src="./assets/js/vendor/json2.js"></script>
<script src="./assets/js/vendor/underscore.js"></script>
<script src="./assets/js/vendor/backbone.js"></script>
<script src="./assets/js/vendor/backbone.picky.js"></script>
<script src="./assets/js/vendor/backbone.syphon.js"></script>
<script src="./assets/js/vendor/backbone.localstorage.js"></script>
<script src="./assets/js/vendor/backbone.marionette.js"></script>
<script src="./assets/js/vendor/spin.js"></script>
<script src="./assets/js/vendor/spin.jquery.js"></script>

<script src="./assets/js/app.js"></script>

<script src="./assets/js/entities/station.js"></script>
<script src="./assets/js/entities/train.js"></script>

<script src="./assets/js/apps/stations/stations_app.js"></script>
<script src="./assets/js/apps/stations/list/list_controller.js"></script>
<script src="./assets/js/apps/stations/list/list_view.js"></script>

<script src="./assets/js/apps/trains/trains_app.js"></script>
<script src="./assets/js/apps/trains/list/list_controller.js"></script>
<script src="./assets/js/apps/trains/list/list_view.js"></script>

<script type="text/javascript">
    TrainViewerApp.start();
</script>
</body>
</html>
